{% extends 'base.html.twig' %}

{% block title %}Stwórz nowy tag{% endblock %}

{% block body %}
    <h3 style="color: purple; margin-top: 8%; margin-left: 45%">Stwórz nowy tag</h3>

    {{ include('tags/_form.html.twig') }}
{% endblock %}
