{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}

    <div style="margin-left: 45%; margin-top: 8%">
        <h3 style="color: purple; margin-left: 0.5%">{{ tag.name }}</h3>
        <button style="margin-bottom: 1%">
            <a href="{{ path('tags_edit', {'id': tag.id}) }}">EDYTUJ</a>
        </button>
        <div style="margin-left: 1%">
            {{ include('tags/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
