{% extends 'base.html.twig' %}

    {% block title %}
{{ 'contact' | trans }}
    {% endblock %}
    {% block body %}
        {% for user in users %}
            <p style="margin-top: 8%; margin-left: 5%; margin-right: 5%">{{ user.contact}}</p>
        {% endfor %}
    {% endblock %}