{% extends 'base.html.twig' %}

    {% block title %}
        Artykuł
    {% endblock %}
    {% block body %}
        {% if articles is defined %}

        {% endif %}
        <div id="comment_section">
        <p style="color: purple; font-size: 20px">Dodaj komentarz</p>
        <form>
            <label for="username"><p>Nick</p></label>
            <input type="text" placeholder="Nick" name="username" required><br><br>
            <label for="email"><p>E-mail</p></label>
            <input type="text" placeholder="E-mail" name="email" required><br><br>
            <label for="comment"><p>Treść komentarza</p></label>
            <textarea name="comment" placeholder="Napisz komentarz..." rows="4" cols="50" required></textarea><br>
            <button type="submit">Dodaj komentarz</button>
        </form>
    </div>
        <div id="comments">
            <p style="color: purple; font-size: 20px">Komentarze</p>
            {% if comments is defined %}
            {% for comment in comments %}
            <div id="singlecomment">
                <h3>{{ comment.authorUsername }}</h3>
                <p>{{ comment.created|date('Y/m/d h:i') }}</p>
                <p>{{ comment.mainText }}</p><br>
                {% if app.user %}
                    <button class="deleteButton">USUŃ</button>
                {% endif %}
            </div>

            {% endfor %}
            {% endif %}
        </div>

    {% endblock %}
