{% extends 'base.html.twig' %}

{% block title %}Lista kategorii{% endblock %}

{% block body %}

    <button style="margin: 8% 0 -20% 44%;">
        <a href="{{ path('categories_new') }}">STWÓRZ NOWĄ KATEGORIĘ</a>
    </button>
    <table style="margin-top: 2%; margin-bottom: 3%" class="table">
        <thead>
            <tr>
                <th>NAZWA KATEGORII</th>
                <th>AKCJE</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <button class="readButton">
                        <a href="{{ path('categories_show', {'id': category.id}) }}">ZOBACZ</a>
                    </button>
                    <button class="editButton">
                        <a href="{{ path('categories_edit', {'id': category.id}) }}">EDYTUJ</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
