{% extends 'base.html.twig' %}

{% block title %}Dodaj nową kategorię{% endblock %}

{% block body %}
    <h3 style="color:purple; margin-left: 44%; margin-top: 8%;">Stwórz nową kategorię</h3>
    {{ include('categories/_form.html.twig') }}
{% endblock %}
