<form method="post" action="{{ path('articles_delete', {'id': article.id}) }}" onsubmit="return confirm('Do you really want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button style="margin-top: 1%;" class="btn">{{ 'delete_button'|trans }}</button>
</form>
