{% extends 'base.html.twig' %}

{% block title %}{% trans into 'en' %}Nowy artykuł{% endtrans %}{% endblock %}

{% block body %}
    <h2 style="margin-top: 8%; color:purple; margin-left: 5%">{% trans into 'en' %}Stwórz nowy artykuł{% endtrans %}</h2>

    {{ include('articles/_form.html.twig') }}
{% endblock %}
