{% extends 'base.html.twig' %}

{% block title %}{{ 'new_article'|trans }}{% endblock %}

{% block body %}
    <h2 style="margin-top: 8%; color:purple; margin-left: 5%">{{ 'new_article'|trans }}</h2>

    {{ include('articles/_form.html.twig') }}
{% endblock %}
