{% extends 'base.html.twig' %}

{% block title %}Dane użytkownika{% endblock %}

{% block body %}
    <button style="margin: 8% 0 0 44%">
        <a href="{{ path('users_edit', {'id': user.id}) }}">ZMIEŃ DANE</a>
    </button>
    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
